.contributer-section{
    background-color: beige;
    overflow-y: hidden;
    padding: 8px;
}

.contributer-container{
    overflow-y: hidden;

}

.ImageCol{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.specialist {
    height: 300px;
}

.Mention {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}