.carousel-container {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    display: flex !important;
    justify-content: space-between !important;
    margin:50px 0;
    padding:50px 0;
}

@media (max-width: 600px) {
    .carousel-container {
        height: 530px;
        display: flex !important;
        justify-content: space-between !important;
    }
}