.carousel-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex !important;
    justify-content: space-evenly !important;
    margin:10px 0;
}

@media (max-width: 1000px) {
    .carousel-container {
        height:530px !important;
        display: flex !important;
        justify-content: space-between !important;
    }
}