@keyframes float {
	0% {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		transform: translatey(0px);
	}
	50% {
		/*box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);*/
		transform: translatey(-20px);
	}
	100% {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		transform: translatey(0px);
	}
}

.mainPageContainer {
    height: fit-content;
    overflow: hidden;
}

.todaysfood {
    height: fit-content;
    width: 100%;
    background-size: cover;
}

.titleWord {
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;

}

.titleWord > h1 {
    font-size: 2.2vw;
}

.mainFloating {
    background-color: beige;
    height: 60vh;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 10px 0;
}

.mainLogo {
	width: 30vw;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.btnGoFindRecipe{
    width: fit-content;
    height: 40px;
    font-size: 17px;
    font-weight: bolder;
    margin :20px;
}

.btnLookAround{
    width: fit-content;
    height: 40px;
    font-weight: bolder;
    font-size: 15px;
     margin :20px;
}

.section1 {
    height:fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 30px;
}

.section1Background {
    background-color: antiquewhite;
    margin-bottom: 30px;
    padding:20px 15px;
    border-radius: 50px;

}

@media (max-width: 1000px) {
    .section1 {
        height:fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 30px;
    }

    .titleWord {
        background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 30px;
    
    }

    .titleWord > h1 {
        font-size:50px;
    }
    
    .mainFloating {
        background-color: beige;
        height: 60vh;
        width: 100%;
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
        margin: 10px 0;
    }
    
    .mainLogo {
        width: 30vw;
        transform: translatey(0px);
        animation: float 6s ease-in-out infinite;
    }
    
    .btnGoFindRecipe{
        width: fit-content;
        height: 40px;
        font-size: 17px;
        font-weight: bolder;
        margin :20px;
    }
    
    .btnLookAround{
        width: fit-content;
        height: 40px;
        font-weight: bolder;
        font-size: 15px;
         margin :20px;
    }
}