.recipe-box { max-width: 90%; margin: auto; }
.recipe-box-title { font-size: var(--fz48); font-weight: 700; color: black; }
.recipe-detail-box { background-color: var(--pointColorLight); color: #000000; border-radius: 10px; }
.detail-box-img { width: 600px; }