.search-recipe h1 {
  text-align: center;
  font-size: var(--fz20);
  margin-bottom: 2rem;
}
.search-recipe h1 span {
  margin-left: 1rem;
  font-size: var(--fz24);
  color: var(--pointColorDark);
}

.search-card-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.search-card-ul li {
  cursor: pointer;
  box-sizing: border-box;
  width: calc(100% / 3 - 1rem);
  border: 1px solid var(--pointColorLight);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 3rem;
}
.search-card-ul li .card-imgarea {
  overflow: hidden;
  height: 200px;
  position: relative;
}

.search-card-ul li .card-imgarea img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s ease;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.search-card-ul li .card-imgarea:hover img {
  transform: scale(1.1);
}
.card-txtarea {
  box-sizing: border-box;
  padding: 2rem;
}
.card-txtarea .card-txt {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-top: 1rem;
}

.card-txtarea .meal {
  background-color: var(--pointColor);
  padding: 0 1rem;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 1rem;
  display: inline-block;
}
.card-txtarea h3 {
  font-size: var(--fz24);
}
.card-txtarea .source {
  color: #bcbcbc;
}
.card-txtarea .ingredients {
  color: var(--pointColorDark);
  border-bottom: 1px solid var(--pointColorDark);
  position: relative;
}
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination li a {
  padding: 8px 16px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.pagination li.active a {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
