.detail-box2 { background-color: var(--pointColorLight); border-radius: 10px;  }
.similar-card { border-radius: 10px;  }
.similar-card-title { font-size: var(--fz18);  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 350px; }